<div class="row">
    <div class="col-md-2">
        <ul class="list-group">
            <li class="list-group-item"><a routerLink="work02" routerLinkActive="active">第一个页面</a></li>
            <li class="list-group-item"><a routerLink="work03" routerLinkActive="active">第二个页面</a></li>
        </ul>
    </div>
    <div class="col-md-8 border body">
        <router-outlet></router-outlet>
    </div>
    <div class="col-md-2">
        <ul class="list-group">
            <li class="list-group-item"><a routerLink="page" routerLinkActive="active">本页面跳转到page页面</a></li>
            <li class="list-group-item"><a routerLink="page1" routerLinkActive="active">新开页面</a></li>
        </ul>
    </div>
</div>